<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside th:fragment="nav" class="sidebar">
    <div class="sidebar-header">Recipe Recommender</div>
    <nav class="sidebar-nav">
        <a href="/" class="nav-link">Home</a>
        <a href="/recipes" class="nav-link">All Recipes</a>
        <a href="/recipes/display" class="nav-link">XSLT Display</a>
        <a href="/recipes/add" class="nav-link">Add Recipe</a>
        <a href="/recipes/cuisine" class="nav-link">Filter by Cuisine</a>
        <a href="/users/add" class="nav-link">Add User</a>
        <a href="/recommendations" class="nav-link">Recommendations</a>
    </nav>
    <div class="sidebar-footer">Semantic Web HW1</div>
</aside>
</body>
</html>
